---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>2026-06-30</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
{%- set staticPages = [
  { url: '/cables', changefreq: 'weekly', priority: '0.8' },
  { url: '/instructions', lastmod: '2026-06-30', changefreq: 'monthly', priority: '0.7' },
  { url: '/cli', changefreq: 'monthly', priority: '0.7' },
  { url: '/pro', lastmod: '2026-06-30', changefreq: 'monthly', priority: '1.0' },
  { url: '/blog', changefreq: 'weekly', priority: '0.8' },
  { url: '/press', changefreq: 'monthly', priority: '0.6' },
  { url: '/privacy', changefreq: 'yearly', priority: '0.3' }
] -%}
{% for page in staticPages %}  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
{% if page.lastmod %}    <lastmod>{{ page.lastmod }}</lastmod>
{% endif %}    <changefreq>{{ page.changefreq }}</changefreq>
    <priority>{{ page.priority }}</priority>
  </url>
{% endfor %}
{%- for post in collections.posts %}  <url>
    <loc>{{ site.url }}{{ post.url | cleanUrl }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
{% endfor %}</urlset>
